extends ../layout.pug

block content
  - const errorMessages = Object.values(registerFormErrors)
  - const isFormInvalid = Boolean(errorMessages.length)

  main
    h1.visually-hidden Регистрация пользователя
    section
      .popup.popup--registration.popup--anti
        a.popup__button.button.button--popup-close(href='/' aria-label='Закрыть окно') Закрыть окно
        h2.popup__title Регистрация
        .popup__form.popup__form--active.form.form--register
          form(method='POST' enctype='multipart/form-data' autocomplete='off')
            .form__field
              label
                input(type='text' name='email' placeholder='Электронная почта' value=registerFormData.email)
            .form__field
              label
                input(type='text' name='name' placeholder='Имя' value=registerFormData.firstName)
            .form__field
              label
                input(type='text' name='surname' placeholder='Фамилия'  value=registerFormData.lastName)
            .form__field
              label
                input(type='password' name='password' placeholder='Пароль'  value=registerFormData.password)
            .form__field
              label
                input(type='password' name='repeat-password' placeholder='Повтор пароля'  value=registerFormData.passwordRepeated)

            if isFormInvalid
              .form__validation-error
                p.form__error-message При регистрации произошли ошибки:
                ul.form__errors
                  each errorMessage in errorMessages
                    li.form__error= errorMessage

            .form__image-loader
              a.form__avatar.avatar
                img(src='img/icons/smile.svg' alt='аватар пользователя')
              label
                input.visually-hidden(type='file' name='upload')
                | Загрузить фото профиля
            button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
