-
  const logoImageSource = `/img/icons/logo${isHttpError ? `` : `-image-only`}.svg`;
  const logoErrorModifier = isHttpError ? `header__logo--${httpError.code}` : ``;

header.header(class={[`header--error`]: isHttpError})
  a.header__logo.logo(class=logoErrorModifier href='/')
    img(class={logo__image: !isHttpError} src=logoImageSource alt='логотип Типотеки')
    if !isHttpError
      span.logo__name Типотека

  if !user
    nav.header__nav
      ul.header__nav-list
        -
          const LOGIN_PATH = `/login`;
          const REGISTRATION_PATH = `/register`
          const LOGIN_ACTIVE_CLASS = `header__registration--active`
          const REGISTRATION_ACTIVE_CLASS = `header__enter--active`

          const isCurrentLoginPath = currentPath === LOGIN_PATH
          const isCurrentRegistrationPath = currentPath === REGISTRATION_PATH

        li.header__list-item
          a.header__registration(
            class={[LOGIN_ACTIVE_CLASS]: isCurrentRegistrationPath}
            href=(!isCurrentRegistrationPath && REGISTRATION_PATH)
          ) Регистрация
        li.header__list-item
          a.header__enter(
             class={[REGISTRATION_ACTIVE_CLASS]: isCurrentLoginPath}
             href=(!isCurrentLoginPath && LOGIN_PATH)
          ) Вход с паролем
  else if user.isAdmin
    a.button.button--colored.header__button-new(href='/articles/add') Новая запись
    .header__dropdown
      a.button.button--burger.header__burger Открыть меню
      ul.navigation.header__navigation
        li.navigation__item
          a(href='/') Главная
        li.navigation__item
          a(href='/my') Публикации
        li.navigation__item
          a(href='/my/comments') Комментарии
        li.navigation__item
          a(href='/my/categories') Категории
        li.navigation__item
          a(href='/logout') Выход
  else
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          p #{user.firstName} #{user.lastName}
        li.header__list-item
          a.header__exit(href='/logout') Выйти
    a.header__avatar.avatar
      +avatarImage(user.avatar)

  a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
