extends ../layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.
      Здесь можно обсуждать всё
      <br />
      &#x1F3AC;
      &#x1F4F7;
      &#x1F3BB;
      &#x1F3AD;
      &#x1F3A8;
      &#x1F3B1;
      &#x26BD;
      &#x1F384;
      &#x1F680;
      &#x1F682;
      &#x1F340;

    section.main-page__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          +categoryTab(category)

    - const noComments = !lastComments.length;

    .main-page__section-flex.main-page__section-flex--short
      section.main-page__hot.hot
        h2.hot__name
          | Самое обсуждаемое
          |
          span.hot__icon.hot__icon--fire
        if hotArticles.length
          ul.hot__list
            each article in hotArticles
              li.hot__list-item
                a.hot__list-link(href=`/articles/${article.id}`)= article.announce
                  sup.hot__link-sup #{article.commentsCount}
        else
          p.hot__empty Здесь пока ничего нет...

      section.main-page__last.last
        h2.last__name
          | Последние комментарии
          |
          span.last__icon.last__icon--cloud
        if !noComments
          ul.last__list
            each comment in lastComments
              li.last__list-item
                +avatarImage(comment.author.avatar)
                b.last__list-name #{comment.author.firstName} #{comment.author.lastName}
                a.last__list-link(href=`/articles/${comment.articleId}#comments`)= comment.text
        else
          p.last__empty Здесь пока ничего нет...

    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article in articles
          +previewArticle(article)

    if withPagination
      +pagination(page, totalPages)

block scripts
  script(src='https://cdn.socket.io/4.0.1/socket.io.js' crossorigin='anonymous' defer)
  script(src='/js/main-socket.js' type='module')
