extends ../layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='#') Назад
            time.post__date(datetime=article.createdCEODate)= article.createdDate
            h2.post__title.title.title--main= article.title
            ul.post__themes.themes
              each category in categories
                - const isShown = Boolean(article.categories.find(({id}) => id === category.id))
                if isShown
                  +categoryTab(category)
          if article.picture
            .post__picture(style='height:490px')
              img(src=`/img/${article.picture}` alt='' style='width:100%;height:100%;object-fit:cover')
          .post__text
            h3= article.title
            p= article.announce
            p= article.fullText

      .post__wrapper.post__wrapper--comments
        section#comments.post__comments.comments
          h2.comments__title.title.title--middle Комментарии
          ul.comments__list
            each comment in comments
              li.comments__comment
                .comments__avatar.avatar
                  img(src='/img/avatar-1.png' alt='аватар пользователя')
                .comments__text
                  .comments__head
                    p Евгений Петров •
                    time.comments__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                  p.comments__message= comment.text
          .comments__footer.comments__footer--user
            form(action='#' method='POST')
              .comments__avatar.avatar
                img(src='/img/avatar-2.png' alt='аватар пользователя')
              label
                textarea(rows='1' name='message' placeholder='Присоединиться к обсуждению')
              button.comments__button.button.button--colored(type='submit') Опубликовать

block scripts
  script(type='text/javascript').
    (() => {
      const backButton = document.querySelector('.post__backwards')

      if (!backButton) {
        return;
      }

      backButton.addEventListener('click', (evt) => {
        evt.preventDefault();
        history.back();
      })
    })()
