extends ../layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='#' data-back) Назад
            time.post__date(datetime=article.createdCEODate)= article.createdDate
            h2.post__title.title.title--main= article.title
            ul.post__themes.themes
              each category in categories
                +categoryTab(category)
          if article.picture
            .post__picture(style='height:490px')
              img(src=`/img/${article.picture}` alt='' style='width:100%;height:100%;object-fit:cover')
          .post__text
            h3= article.title
            p= article.announce
            p= article.fullText

      .post__wrapper.post__wrapper--comments
        section#comments.post__comments.comments
          h2.comments__title.title.title--middle Комментарии
          ul.comments__list
            each comment in comments
              li.comments__comment
                .comments__avatar.avatar
                  img(src=`/img/${comment.author.avatar}` alt='аватар пользователя')
                .comments__text
                  .comments__head
                    p #{comment.author.firstName} #{comment.author.lastName} •
                    time.comments__date(datetime=comment.createdCEODate)= comment.createdDate
                  p.comments__message= comment.text
          .comments__footer.comments__footer--user
            form(action=`/articles/${article.id}/comments` method='POST' enctype='multipart/form-data')
              .comments__avatar.avatar
                img(src='/img/avatar-2.png' alt='аватар пользователя')
              label
                textarea(rows='1' name='text' placeholder='Присоединиться к обсуждению')
              button.comments__button.button.button--colored(type='submit') Опубликовать
            p.comments__error

block scripts
  script(src='https://unpkg.com/dayjs@1.8.21/dayjs.min.js' defer)
  script(src='/js/back-button.js' type='module')
  script(src='/js/add-comment.js' type='module')
